@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Anek+Malayalam:wght@500&family=Barrio&family=Chewy&family=Fredericka+the+Great&family=Fredoka+One&family=Gabriela&family=Henny+Penny&family=Mali:wght@600&family=Oleo+Script+Swash+Caps&family=Patrick+Hand&family=Poor+Story&family=Press+Start+2P&family=Roboto+Slab&family=Rubik+Moonrocks&display=swap');

:root {
    --lime: rgb(187, 255, 0);
    --violet: hsl(255, 100%, 90%);
    --dark-violet: rgb(80, 6, 150);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--violet);
}

/*hamburger menu*/

header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 20vh;
    min-height: 100px;
    min-width: 400px;
}

.navbar {
    /*navbar size and color*/
    width: 500px;
    height: 100%;
    background-color: var(--lime);
    position: fixed;
    top: 0;
    right: -300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    /* navbar shape*/

    border-style: solid;
    border-width: 5px;
    border-color: var(--lime);
    transition: right 0.8s cubic-bezier(1, 0, 0, 1);

    z-index: 10;
}

.change {
    right: 0;
}

.hamburger-menu {
    width: 35px;
    height: 30px;

    /*hamburger menu position*/
    top: 100px;
    right: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20px;
}

.line {
    width: 100%;
    height: 4px;
    background-color: var(--dark-violet);
    transition: all 0.8s;
}

.change .line-1 {
    transform: rotateZ(-45deg) translate(-8px, 6px);

    /*405 deg*/
}

.change .line-3 {
    transform: rotateZ(45deg) translate(-8px, -6px);

}

.change .line-2 {
    opacity: 0;
}

.image-and-categories {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.nav-list {
    text-align: right;
}

.nav-item {
    list-style: none;
    margin: 25px;
}

.nav-link {
    text-decoration: none;
    font-size: 22px;
    color: var(--dark-violet);
    font-weight: 300;
    letter-spacing: 1px;
    padding: 3px 0;
    position: relative;
    font-family: Mali;
    font-weight: 400;
}

.nav-link::before,
.nav-link::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: deeppink;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.5s;
    position: absolute;
}

.nav-link::after {
    bottom: 0;
    transform-origin: right;
}

.nav-link::before {
    top: 0;
    transform-origin: left;
}

.nav-link:hover::before,
.nav-link:hover::after {
    transform: scaleX(1);
}

/*toggle switch*/

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--dark-violet);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--lime);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--dark-violet);

}

input:focus+.slider {
    box-shadow: 0 0 1px var(--dark-violet);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.toggle-button-container {
    display: flex;
    padding-left: 5%;
    /*padding-left: 100px*/
    width: 270px;
    top: 95px;
    left: 250px;
    flex-direction: row;
    justify-content: space-around;
}

.play-train {

    font-family: Fredoka One;
    font-size: xx-large;
}

#nav-image {
    display: flex;
    position: relative;

}

/*category cards*/

.grid-container {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    left: 5%;
    width: 78%;
    height: 100%;
    background-color: white;
    border-radius: 2%;

}

.play-mode-color {
    background-color: var(--dark-violet);
}

.grid-heading {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20%;
    justify-content: space-evenly;
    align-items: center;
}

.grid-heading h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    font-size: 60px;
    font-family: Barrio;
    color: rgb(202, 30, 179);
}

#girl-image {
    display: flex;
    margin-top: 5px;

}

.grid {
    display: grid;
    width: 100%;
    height: 80%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 2px;
    column-gap: 10px;
    row-gap: 10px;

}

.grid-item {
    background-color: aliceblue;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
    padding: 5px;
    cursor: pointer;
}

.card-image-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 70%;
    align-items: center;
}

.cover-text {
    height: 100%;
}

.card {
    display: flex;
    width: 100%;
    height: 30%;
    font-family: Mali;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: var(--dark-violet);
}

.none {
    display: none;
}

.flip-card {
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;

}

.rotate {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}



.flip-card-back {

    transform: rotateY(180deg);
}

.start-button {
    width: 150px;
    height: 50px;
    position: relative;
    left: 5%;
    background-color: transparent;
    border: none;
    cursor: pointer;

}

.hide {
    visibility: hidden;
}
