@media screen and (max-width:1379px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width:1182px) {
    .navbar {
        right: -500px;
    }

    .hamburger-menu {
        position: fixed;
        top: 70px;
    }

    .change {
        right: 0;
    }

    .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .grid-heading h1 {
        font-size: 40px;
        justify-content: space-evenly;
    }


}

@media screen and (max-width:1052px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:713px) {


    #girl-image {
        display: none;
    }

    .grid-heading {
        justify-content: space-around;
    }
}

@media screen and (max-width:693px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width:469px) {
    .grid-container {
        width: 100%;
        height: 2700px;
    }

    .grid {
        grid-template-columns: auto;

    }

    .grid-heading {
        flex-direction: column;
    }

    .navbar {
        width: 320px;

    }

    #nav-image {
        display: none;
    }


    .hamburger-menu {
        top: 40px;
        position: fixed;
        left: 370px;

    }




}

@media screen and (max-width:321px) {

    .grid {
        width: 100vw;
    }

    .hamburger-menu {
        left: 230px;
        top: 65px;
    }

    .toggle-button-container {
        justify-content: flex-start;
    }

    .change {
        right: 79px;
    }
}
